:root{
  --azul: #02ADA5;
  --sombra: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
body{
  background: #eee!important;
}
#header{
  -webkit-box-shadow: var(--sombra);
  box-shadow: var(--sombra);
  background-color: #ffffff !important;
}
#body{
  min-width: 400px;
  min-height: 800px;
  padding-top: 100px;
}
#footer{
  min-width: 400px;
  background-color: var(--azul)!important;
  margin-bottom: 0;
  color: #ffffff;
}
/* SIDE BAR HEADER */
.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: var(--sombra);
  box-shadow: var(--sombra);
  z-index: 1050;
  background-color: #ffffff;
  padding-top: 0;
  transition: 600ms
}
.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  transition: 600ms;
}
.list-group{transition: 600sm;}
.sidebar-fixed  .img-fluid{
  height: 56px !important;
  transition: 600ms;
}
.sidebar-fixed .list-group .active {
  -webkit-box-shadow: var(--sombra);
  box-shadow: var(--sombra);
  -webkit-border-radius: 5px;
  transition: 600ms;
  border-radius: 5px; }
.sidebar-fixed .logo-wrapper {
  padding: 2.5rem;
}
.sidebar-fixed .logo-wrapper .small-logo{
  display: none;
  transition: 600ms;
}
.sidebar-fixed .logo-wrapper img {
  max-height: 50px;
}
.pdd-5{
  padding:5px!important;
}
.pdd-10{
  padding:10px!important;
}
.pdd-15{
  padding:10px!important;
}
.bg-azul{
  background-color: var(--azul)!important;
}
.text-azul{
  color: var(--azul)!important;
}
.border-azul{
  border-color: var(--azul)!important;
}
/* COMPONENTES BOOTSTRAP */
.jumbotron {
  background: var(--white)!important;
  -webkit-box-shadow: var(--sombra);
  box-shadow: var(--sombra);
}
.breadcrumb{
  background: var(--white)!important;
}
.shadowT{
  -webkit-box-shadow: var(--sombra)!important;
  box-shadow: var(--sombra)!important;
  border-radius: 5px;
}


/* ANIMACIONES */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* RESPONSIVE */
@media (min-width: 1200px) {
  .navbar,
  #footer,
  main {
    padding-left: 300px!important;
    transition: 600ms;
  }
  #body{
    transition: 600ms;
    margin-left: 270px;
  }
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    width: 48px;
    overflow: hidden;
    transition: 600ms;
  }
  .sidebar-fixed:hover {
    width: 270px !important;
    transition: 600ms;
  }
  .sidebar-fixed  .img-fluid{
    padding: 0px;
    width: 48px;
    height: 48px;
    transition: 600ms;
  }
  .sidebar-fixed .list-group-flush .list-group-item{
    min-width: 270px !important;
    transition: 500ms;
  }
  .sidebar-fixed .logo-wrapper {
    padding: 1px;
    transition: 600ms;
  }
  .sidebar-fixed .logo-wrapper img {
    display: none;
    transition: 600ms;
  }
  .sidebar-fixed .logo-wrapper .small-logo{
    display: inline-block;
    transition: 600ms;
  }
  .navbar,
  #footer,
  main{
    padding-left: 60px !important;
    transition: 600ms;
  }
  #body{
    padding-left:80px !important;
    padding-right:20px !important;
    padding-bottom: 30px !important;
    transition: 600ms;
  }
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #02ADA5;
}
hr.new1{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-top: 2px solid #02ADA5;
  width: 55%;
}


.bd-callout{
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid whitesmoke;
  border-left-width: .50rem;
  border-radius: .25rem;
  border-left-color: #1B9B95;
  border-bottom-color: #1B9B95;
  background-color: #ffffff;
  box-shadow: #495057;
  border-bottom-right-radius: 20px;

}


input{
  margin-left: 5%;

}

.input-group-text-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  width: 200px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #ccf2ff;
  border: 1px solid #ced4da;
  /*border-radius: 0.25rem;*/
}

.input-group-text-2 input[type="radio"],
.input-group-text-2 input[type="checkbox"] {
  margin-top: 0;
}
